p{
    color: aquamarine;
}
h1 {
    color: violet;
}
h2,h1{
    color: #2E7CEE;
   font-size: 20px;
   height: 200px;
   width: 1000px;
    /* background-color: blueviolet; */
    background-clip: border-box;
    border: 5px solid #fff;
    background-image: url(t.JPG);
    /* background-image: linear-gradient(180deg,#6B85B7, #FF5E8E); */
    background-size: 250px 200px;
    /* background-size: contain; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-origin: content-box;
    border-style: dashed;
    div {
        pading: 400px;
    }
    div{
        margin: 25px;
    }
}
}